@import "tailwindcss";

/* In your CSS file */
:root {
  --primary: #96BBBB;
  --secondary: #618985;
  --tertiary: #414535;
  --light-accent: #F2E3BC;
  --dark-accent: #C19875;
}

/* in tailwind.css */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
