@import "tailwindcss";

/* In your CSS file */
:root {
  --primary: #96BBBB;
  --secondary: #618985;
  --tertiary: #414535;
  --light-accent: #F2E3BC;
  --dark-accent: #C19875;
}

/* in tailwind.css */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(6px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-slideFade {
  animation: slideFade 0.15s ease-out forwards;
}
